<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode  }}">
{{ partial "common/head.html" . }}
<body>
<div class="min-h-screen">
  {{ partial "common/header.html" . }}
  <main class="h-screen">
    <div class="container mx-auto">
      <div class="flex items-center justify-center text-center px-4 flex-col sm:flex-row">
        <div
          class="text-2xl sm:text-3xl font-bold text-slate-900 sm:pr-6 sm:mr-6 sm:border-r sm:border-slate-900/10 sm:dark:border-slate-300/10 dark:text-slate-200">
          404
        </div>

        <div class="mt-2 text-lg text-slate-700 dark:text-slate-400 sm:mt-0">This page could not be found.</div>
      </div>
    </div>
  </main>
</div>
</body>
</html>
