{{ define "main" }}
<div class="container mx-auto max-w-screen-xl mt-8 px-2 flex justify-between space-x-5">
  <div class="md:w-3/4">
    <ul class="space-y-10">
      {{ $paginator := .Paginate (where (where .Site.Pages "Type" "posts") "IsPage" "==" true) 100 }}

      {{ range $paginator.Pages.ByDate.Reverse }}
        {{ partial "post/list-item.html" . }}
      {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}
  </div>

  <div class="hidden md:block md:w-1/4">
    {{ partial "common/sidebar.html" . }}
  </div>
</div>
{{ end }}