{{ define "main" }}
<div class="container mx-auto xl:max-w-screen-xl mt-8 px-2 flex justify-between space-x-5">
  <div class="md:w-3/4">
    <ul class="space-y-10 divide-y">
      {{ $parentPage := .Page.Path }}
      {{ $paginator := .Paginate (where (where (where .Site.Pages "Type" "posts") "Parent.Path" "==" $parentPage)
      "IsPage" "==" true) }}

      {{ range $paginator.Pages }}
        {{ partial "post/list-item.html" . }}
      {{ end }}
    </ul>
  </div>

  <div class="hidden md:block md:w-1/4 bg-red-50">
    {{ partial "common/sidebar.html" }}
  </div>
</div>
{{ end }}