<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="{{ delimit .Keywords "," }}">
  <meta name="description" content="{{ .Description }}">
  <meta name="referrer" content="no-referrer"/>
  <title>{{ .Title }}</title>
  <link rel="shortcut icon" href="{{ "favicon.ico" | absURL }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ "css/index.css" | absURL }}">
  {{- if .Site.Params.algolia.appId -}}
  <link rel="stylesheet" href="{{ cond (isset .Site.Params.cdn.css "docsearch") .Site.Params.cdn.css.docsearch ("css/docsearch.css" | absURL) }}"/>
  <link rel="preconnect" href="https://{{- .Site.Params.algolia.appId -}}-dsn.algolia.net" crossorigin />
  {{- end -}}
  <script src="{{ "js/theme.js" | absURL }}"></script>
  <script defer src="{{ cond (isset .Site.Params.cdn.js "alpine") .Site.Params.cdn.js.alpine ("js/alpinejs.min.js" | absURL) }}"></script>
</head>