<div class="p-4 border-l rounded space-y-10">
  <div>
    <div class="font-bold">Recent Posts</div>
    <ul class="px-2 space-y-0.5">
      {{ $recentPages := first 5 (where site.RegularPages "Type" "posts").ByDate.Reverse }}

      {{ range $recentPages }}
        <li>
          <a href="{{ .Permalink }}" class="text-sm">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  <div>
    <div class="font-bold">Tags</div>
    <ul class="px-2">
      {{ range $.Site.Taxonomies.tags }}
        <li class="inline-block mt-3 mr-2">
          <a href="{{ .Page.Permalink }}" class="px-2 py-1 rounded bg-slate-200 dark:bg-slate-600">
            <span class="text-sm">{{ .Page.Title }}</span>
            <span class="px-2 text-xs rounded-full text-slate-100 bg-emerald-500">{{ .Count }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
