<div class="p-4 border-l rounded space-y-10">
  <div>
    <div class="font-bold">Recent Posts</div>
    <ul class="space-y-2">
      {{ $recentPages := first 5 (where site.RegularPages "Type" "posts").ByDate.Reverse }}

      {{ range $recentPages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  <div class="pt-5">
    <div class="font-bold">Tags</div>
    <ul>
      {{ range $.Site.Taxonomies.tags }}
        <li class="inline-block mx-2 my-3">
          <a href="{{ .Page.Permalink }}" class="p-2 rounded text-slate-800 bg-slate-200">
            <span>{{ .Page.Title }}</span>
            <span class="px-2 text-sm rounded-full text-slate-100 bg-emerald-400">{{ .Count }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
